/* 800PX */
@media (max-width: 50em) {
  .container {
    max-width: 60.8rem;
  }

  .img-box {
    max-width: 22.9rem;
    background-position: left;
  }

  .text-box {
    padding: 4rem 3.2rem;
  }
}

/* 600PX */
@media (max-width: 37.5em) {
  .container {
    max-width: 33rem;
    flex-direction: column;
  }

  .img-box {
    border-bottom-left-radius: 0;
    border-top-right-radius: 12px;
    width: 100%;
    max-width: 33rem;
    height: 20rem;

    flex-shrink: 0;
  }

  .text-box {
    padding: 3.2rem 3rem 2rem;
  }

  .heading {
    letter-spacing: 0.1px;
  }

  .text {
    margin-bottom: 2.4rem;
  }

  .text-box {
    position: relative;
  }

  .share-container {
    position: unset;
  }

  /* .btn-share {
    z-index: 20;
    background-color: var(--light-grayish-blue);
  } */

  .popup {
    bottom: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 7.6rem;
    padding: 0 3rem;
    border-radius: 0;
    margin-bottom: 0.5rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--dark-grayish-blue);
  }

  .popup .arrow-down {
    display: none;
  }

  .show-popup {
    justify-content: flex-start;
  }

  #btn-share--mobile {
    display: block;
    margin-left: auto;
    background-color: var(--grayish-blue);
    border: none;
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
  }
}
